@import "tailwindcss";


.img-dashboard {
    width:50%;
    height:50%
}

/* button{
    color:black;
    background-color: aliceblue;
} */

a:hover {
    color:aqua;
}

a:active {
    color:white;
}
